# alias name='command'
alias hpl='(cd ~/.homedir_conf; git pull)'
alias hst='(cd ~/.homedir_conf; git status)'
# See function below
# alias hps='(cd ~/.homedir_conf; git add .; git commit -m "alias update"; git push)'
alias ea='subl ~/.aliases &'                                              # Open alias file
alias sa='source ~/.aliases && echo "Aliases sourced  --ok."'             # Source alias file
alias ep='subl ~/.bash_prompt &'                                               # Open promp file
alias sp='source ~/.bash_prompt && echo "Prompt sourced  --ok."'               # Source prompt file
alias es='subl ~/.autoscripts &'                                          # Open autoscripts file
alias ss='source ~/.autoscripts && echo "Scripts sourced  --ok."'         # Source autoscripts file
alias te='konsole . &'                                                         # Open a new console
alias runscripts='~/.manualscripts'                                       # run .term_manualscripts

alias sudo='sudo '
# See function below
# alias sua='sudo apt update; sudo apt upgrade -y'
alias applications='cd /usr/share/applications && ls'
alias explore='nautilus . &'
alias exp='nautilus . &'
alias sudoexplore='sudo nautilus . &'
alias sudoexp='sudo nautilus . &'
alias LASTCMD='$( history -p !! )'
alias please='sudo LASTCMD'
alias fuck='sudo LASTCMD'
alias fuckoff='sudo LASTCMD'
alias fucking='sudo '
alias ssubl='sudo subl'
alias svim='sudo vim'
alias lastmem='valgrind --tool=memcheck --leak-check=full LASTCMD'
alias showme='apt list --upgradable'
alias py2='python'
alias py3='python3'
alias py='python3'
alias pip='py -m pip'
alias elm='elm19'
alias apps='sudo nautilus /usr/bin'
alias dapps='sudo nautilus /usr/share/applications'
alias venv='virtualenv --python=python3 venv'
alias stop='deactivate'
alias deactivatePrompt='mv ~/.bash_prompt ~/.bash_prompt_off'
alias activatePrompt='mv ~/.bash_prompt_off ~/.bash_prompt'
alias COMPILE="(cd ~/cs3231/asst3-src/kern/compile/ASST3; bmake && bmake install)"
alias DCOMPILE="(cd ~/cs3231/asst3-src/kern/compile/ASST3; bmake depend && bmake && bmake install)"

# Stops the dreaded __py_cache__ folder
export PYTHONDONTWRITEBYTECODE=1

# Git commands
alias gpl='git pull'
alias gps='git push'
alias gfc='git fetch'
alias gfcpl='gfc; gpl'
alias gck='git checkout'
alias ga='git add'
alias gs='git status'
alias gc='git commit -m'

#start python envs
pygo() {
   if [ -z $1 ] #empty string
   then
      DEFAULT='venv'
   else
      DEFAULT=$1
   fi
   source $DEFAULT/bin/activate
}

gogogadget() {
   pygo $1
}

pregister() {
  if [ -z $1 ] #empty string
   then
      echo Enter a file name
   else
    echo
     # sudo subl /usr/bin/$1  --command "{echo Text to be in the editor}"
   fi
   sudo nautilus /usr/bin &
}

picon() {
  if [ -z $1 ] #empty string
   then
      echo Enter a file name
   else
    echo
     # sudo subl /usr/share/applications/$1  --command "{echo Text to be in the editor}"
   fi
   sudo nautilus /usr/share/applications &
}

up() {    # move up by any number of directories
  if [ -z $1 ]; then
    cd ..
    return 0
  fi
  COUNTER=$1
  if [[ $COUNTER =~ ^[\-0-9]+$ ]] && (( COUNTER > 0)); then
    while [[ $COUNTER -gt 0 ]]
    do
      UP="${UP}../"
      COUNTER=$(( $COUNTER -1 ))
    done
    echo "cd $UP"
    cd $UP
    UP=''
    return 0
  else
    echo 'Usage: up n'
    return 1
  fi
}

sua() {
    declare -A osInfo;
    osInfo[/etc/redhat-release]="yum update -y; yum clean all"
    osInfo[/etc/arch-release]="pacman -Syu --noconfirm; pacman -Sc --noconfirm"
    osInfo[/etc/gentoo-release]="emerge --sync; emerge --update --deep --with-bdeps=y @world"
    osInfo[/etc/SuSE-release]="zypp refresh -y; zypp update -y; zypp packages --unneeded"
    osInfo[/etc/debian_version]="apt update; apt upgrade -y; apt autoremove -y"

    # This is ZSH syntax for looping... Will not work with bash
    for k v in ${(kv)osInfo[@]}; do
        if [[ -f $k ]]; then
            echo Using command $v
            command=("${(@s/; /)v}")
            for x in ${command[@]}; do
               echo sudo $x
               sudo $(echo $x)
            done
            return
        fi
    done
   echo Update command not known. Set for sua\(\) in .aliases
}

# alias hgt='(cd ~/.homedir_conf; git add .; git commit -m "alias update"; git push)'
hps() {
   if [ $# -ne 1 ] ; then
      echo "usage: hgt <commit message>"
      return
   fi
   cd ~/.homedir_conf
   if [ -z "$(git status --untracked-files=no --porcelain)" ] ; then
      echo "Home config clean, no changes."
      return
   fi
   git add .
   git commit -m "$1"
   git push
   cd -
   echo "Home config changes pushed."
}
