[core]
	autocrlf = input
	eol = lf
[user]
	name = Michael Theos
	email = michael@theos.me
	signingkey = 0628CC3897421E40
[color]
	ui = auto
[alias]
	supdate = submodule update --remote --merge
[pull]
   rebase = true

