[core]
    autocrlf = input
    eol = lf
[user]
    name = Michael Theos
    email = michael@theos.me
    signingkey = 0628CC3897421E40
[color]
    ui = auto
[alias]
    supdate = submodule update --remote --merge
[pull]
    rebase = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[commit]
    gpgsign = true
[protocol]
    version = 2

