[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
GenericName=Python IDE
Comment=Python IDE by Jet Brains
Exec=/usr/bin/pycharm
Terminal=false
MimeType=text/plain;
Icon=~/opt/pycharm/bin/pycharm.png
Categories=IDE;Development;
StartupNotify=true
