[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
GenericName=C# IDE
Comment=C# IDE by Jet Brains
Exec=/usr/bin/rider
Terminal=false
MimeType=text/plain;
Icon=~/opt/rider/bin/rider.svg
Categories=TextEditor;Development;
StartupNotify=true
