[Desktop Entry]
Version=1.0
Type=Application
Name=Intellij
GenericName=Java IDE
Comment=Java IDE by JetBrains
Exec={{ dotfiles_desktop_bin_dir }}/intellij
Terminal=false
MimeType=text/plain;
Icon={{ dotfiles_home }}/opt/idea/bin/idea.png
Categories=IDE;Development;
StartupNotify=true
