[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
GenericName=Python IDE
Comment=Python IDE by JetBrains
Exec={{ dotfiles_desktop_bin_dir }}/pycharm
Terminal=false
MimeType=text/plain;
Icon={{ dotfiles_home }}/opt/pycharm/bin/pycharm.png
Categories=IDE;Development;
StartupNotify=true
