[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
GenericName=C# IDE
Comment=C# IDE by JetBrains
Exec={{ dotfiles_desktop_bin_dir }}/rider
Terminal=false
MimeType=text/plain;
Icon={{ dotfiles_home }}/opt/rider/bin/rider.svg
Categories=TextEditor;Development;
StartupNotify=true
