[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
GenericName=JavaScript IDE
Comment=JavaScript IDE by JetBrains
Exec={{ dotfiles_desktop_bin_dir }}/webstorm
Terminal=false
MimeType=text/plain;
Icon={{ dotfiles_home }}/opt/webstorm/bin/webstorm.png
Categories=IDE;Development;
StartupNotify=true
